{% extends 'layout_main.html' %}
{% block title %}Auditing {{ conf.disp }}{% endblock %}
{% set active_page = 'config_' + conf.slug %}
{% block subtitle %}Auditing: {{ conf.disp }}{% endblock %}
{% block adds %}
<link href="{{ url_for('static', filename='css/datepicker3.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript">
$(function() {
  $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
});
</script>
{% endblock %}

{% block content %}
<form method="post">
{{ form.start }}

{{ form.end }}

<button type="submit" class="btn btn-primary">Submit</button>
</form><br>

<div id="job-summary">
{% for job in jobs %}
<p class="{% if not job.end_date %}bg-warning{% elif job.status != 'success' %}bg-{{ job.status }}{% endif %}">
<strong>{{ job.title }}</strong> {{ job.timeago }}
<a href="{{ url_for('view_audit', job_id=job.id, slug=job.config.slug) }}">Details</a><br>
{{ job.summary }}
</p>
{% endfor %}
<div class="text-right">
  <a class="btn btn-default" href="{{ url_for('view_old_audit', slug=conf.slug, page=1) }}">View More</a>
</div>
</div>
{% endblock %}
