{% extends 'layout_main.html' %}
{% block subtitle %}{% if disp %}Configuration: {{ disp }}{% else %}New configuration{% endif %}{% endblock %}
{% if not slug %}{% set active_page = 'new' %}{% else %}{% set active_page = 'config_' + slug %}{% endif %}
{% block content %}
<script type="text/javascript">
$(function() {
  var showonlyonnew = function(r) {
    var f = function(e) {
      console.log(this);
      if ($(this).val() == 'new')
        r.show();
      else
        r.hide();
    }
    return f;
  }
  $('#git_preset').change(showonlyonnew($('#git')));
  $('#aws_preset').change(showonlyonnew($('#aws')));
  $.proxy(showonlyonnew($('#aws')), $('#aws_preset'))();
  $.proxy(showonlyonnew($('#git')), $('#git_preset'))();
});
</script>
<form method="POST" id="config_form">
  {{ form.hidden_tag() }}

  {{ form.disp }}

  <h3>GitHub</h3>
  {{ form.git_preset }}

  {{ form.git }}

  {{ form.git_repo }}

  <h3>AWS</h3>
  {{ form.aws_preset }}

  {{ form.aws }}

  {{ form.aws_region }}

  {{ form.aws_vpc }}

  {{ form.cron }}

  <button type="submit" class="btn btn-primary" name="action" value="save">{% if disp %}Save{% else %}Create{% endif %}</button>
  {% if disp %}<button type="submit" class="btn btn-danger" name="action" value="delete">Delete</button>{% endif %}
</form>
{% endblock %}
