{% extends 'layout_base.html' %}
{% block body %}
<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li {% if active_page == 'home' %} class="active"{% endif %}><a href="{{ url_for('dashboard') }}">Home</a></li>
      <li {% if active_page == 'presets' %} class="active"{% endif %}><a href="{{ url_for('presets') }}">Presets</a></li>
      <li {% if active_page == 'help' %} class="active"{% endif %}><a href="{{ url_for('help') }}">Help</a></li>
      <li class="nav-divider"></li>
      <li {% if active_page == 'new' %} class="active"{% endif %}><a href="{{ url_for('new_config') }}">New</a></li>
      {% for slug, disp in configs %}
      <li {% if active_page == 'config_'+slug %} class="active"{% endif %}><a href="{{ url_for('view_config', slug=slug) }}">{{ disp }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-9">
    {% for category, message in get_flashed_messages(True) %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </div>
</div>
{% endblock %}
