{% extends 'layout_main.html' %}
{% block title %}Auditing {{ conf.disp }}{% endblock %}
{% set active_page = 'config_' + conf.slug %}
{% block subtitle %}Auditing: {{ conf.disp }}{% endblock %}

{% block content %}
<div id="job-summary">
{% for job in results.items %}
<p class="{% if not job.end_date %}bg-warning{% elif job.status != 'success' %}bg-{{ job.status }}{% endif %}">
<strong>{{ job.title }}</strong> {{ job.timeago }}
<a href="{{ url_for('view_audit', job_id=job.id, slug=job.config.slug) }}">Details</a><br>
{{ job.summary }}
</p>
{% endfor %}
<ul class="pager">
  {% if results.has_prev %}
    <li class="previous">
      <a href="{{ url_for('view_old_audit', slug=conf.slug, page=results.prev_num) }}">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Newer
      </a>
    </li>
  {% endif %}
  {% if results.has_next %}
    <li class="next">
      <a href="{{ url_for('view_old_audit', slug=conf.slug, page=results.next_num) }}">
        Older
        <span class="glyphicon glyphicon-arrow-right"></span>
      </a>
    </li>
  {% endif %}
</ul>
</div>
{% endblock %}
