{% extends 'layout_base.html' %}
{% block title %}Auditing {{ conf.disp }}{% endblock %}
{% set active_page = 'config_' + conf.slug %}
{% block subtitle %}Auditing: {{ conf.disp }}{% endblock %}

{% block body %}
<div>
  <a class="btn btn-default btn-sm" href="{{ url_for('create_audit', slug=conf.slug) }}"><span class="glyphicon glyphicon-arrow-left"></span> Go Back</a>

  <div style="float:right;">
    <a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#buildlogmodal" role="button"><span class="glyphicon glyphicon-list-alt"></span> View Build Log</a>
    {% if job.end_date %}
    <a class="btn btn-default btn-sm" href="{{ url_for('download_audit', job_id=job.id, slug=conf.slug) }}"><span class="glyphicon glyphicon-download-alt"></span> Download as CSV</a>
    {% endif %}
  </div>
</div><br>

{% if job.end_date %}
  {% for entry in entries %}
  <h3>{{ entry.id }} ({{ entry.name }})</h3>
  <ul>
    {% for machine in entry.machines %}
    <li>{{ machine }}</li>
    {% endfor %}
  </ul>

  <table class="table table-striped">
    <thead>
      <tr>
        <td>Action</td>
        <td>Protocol</td>
        <td>Port</td>
        <td>Direction</td>
        <td>Type</td>
        <td>Location</td>
        <td>Proposed</td>
        <td>Approved</td>
        <td>Justification</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
      {% for rule in entry.rules %}
      <tr{% if rule.action.startswith('unauthorized') %} class="danger"{% endif %}>
        <td>{{ rule.action }}</td>
        <td>{{ rule.protocol }}</td>
        <td>{{ rule.ports }}</td>
        <td>{{ rule.direction }}</td>
        <td>{{ rule.type }}</td>
        <td>{{ rule.location }}</td>
        <td>{{ rule.proposed }}</td>
        <td>{{ rule.approved }}</td>
        <td>{{ rule.justification }}</td>
        <td>{{ rule.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}
{% else %}
<div class="progress" style="position: relative">
  <div class="progress-bar" style="width: {{ job.summary|auditprog }}%" id="progressbar">
    <span id="progressbar_status" style="position: absolute; display: block; width: 100%; color: #000;">{{ job.summary|auditstat }}</span>
  </div>
</div>
<script>
$(function() {
  var prog = 0;
  var stat = "";
  var update = function(new_prog, new_stat) {
    if (new_stat != stat) {
      $('#progressbar_status').text(new_stat);
      stat = new_stat;
    }
    if (new_prog > prog) {
      $('#progressbar').css('width', new_prog + '%');
      prog = new_prog;
    }
  }

  var fetch = function() {
    $.ajax({
      'url': '{{ url_for('view_audit_status', slug=conf.slug, job_id=job.id) }}',
      'dataType': 'json',
      'cache': false,
      'success': function(data) {
        $('#progressbar').removeClass('progress-bar-warning')
        if (data['done']) {
          $('#progressbar').addClass('progress-bar-success');
          update(100, 'Complete!');
          location.href = location.href;
        } else {
          update(data['progress'], data['status']);
          setTimeout(fetch, 500);
        }
      },
      'error': function() {
        $('#progressbar').addClass('progress-bar-warning');
        setTimeout(fetch, 500);
      }
    });
  }

  fetch();
})
</script>
{% endif %}
<div class="modal" id="buildlogmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Build Log</h4>
      </div>
      <div class="modal-body">
        <pre>{{ job.log }}</pre>
      </div>
    </div>
  </div>
</div>
{% endblock %}
