repos:
  core_read:
    aws_access_key_id: <your access key>
    aws_secret_access_key: <your secret key>
    git_api_token: <your API token>
    git_api_url: https://api.github.com/v3/
    git_repo_name: <your desired repo name>
    git_repo_url: <your desired repo URL>
    vpc_region: us-west-2
temp_dir: /tmp/hotcidr
